*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

h4, li{
  margin: 0 !important;
}

.ant-popover-inner-content{
  padding: 0 !important;
}

.ant-list-items .ant-list-item{
  padding: 0 15px !important;
  line-height: 50px;
}

.ant-list-items .ant-list-item:hover{
  background: #f4f4f4;
}

.ant-list-item-meta-title{
  line-height: 50px !important;
}

.ant-popover-inner .ant-menu-item{
  height: 35px !important;
  line-height: 35px !important;
  padding: 0 8px !important;
}

.ant-popover.ant-popover-placement-bottomRight{
  top: 48px !important;
}

.ant-list-item .ant-avatar.ant-avatar-icon{
  font-size: 14px !important;
  line-height: 25px !important;
}