.headerWrap{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.headerLeftWrap{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 110px;
  height: 20px;
  margin-right: 22px;
  background: url('../assets/layouts/imgs/logo-default.png');
}

.sidebarToggler{
  width: 20px;
  height: 20px;
  background: url('../assets/layouts/imgs/sidebar-toggler-inverse.png') center;
}

.sidebarToggler:hover{
  background: url('../assets/layouts/imgs/sidebar-toggler.png') center;
}

.headerRightWrap{
  display: flex;
  font-size: 14px;
}

.headerRightWrap>div:not(.searchWrap){
  cursor: pointer;
  margin-right: 10px;
}

.headerRightWrap>div:not(.searchWrap):hover{
  background: #7392b3;
}

.msgWrap{
  padding-left: 18.5px;
  position: relative;
}

.msgWrapTitle{
  width: 100%;
  display: flex;
  background: #eaedf2;
  line-height: 40px;
  padding: 0 15px;
  justify-content: space-between;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.menuItem{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:rgba(255, 255, 255, 0.65);
}

.menuItem:hover{
  background: #24303e !important;
  color: #fff;
}